@model IndexResumeViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section-group dark-text" id="resume">    
    <div class="flex py-1">
        <h1 class="dark-text text-primary">Resume Section</h1>
        <a asp-controller="Resume" asp-action="Create" class="btn ">New Resume</a>
    </div>

    <div class="card-wrapper resume-wrapper">

        <div class="card-body">
             <h2>Summary</h2>
              <div>                  
                 <p class="dark-text">@Model.Resumes.Summary</p>
             </div>              
     
       
         <div class="card-body">   

            <h2>Education</h2>

            @for (int i = 0; i < Model.Educations.Count; i++)
            {
                       <h3>@Model.Educations[i].InstitutionName</h3>    
                       <h4>@Model.Educations[i].Degree</h4>
                      <div class="card-text">
                        <p class="dark-text">@Model.Educations[i].GraduationDate</p>
                      </div>
                   @*  <div class="btn-group">
                       <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Educations[i].EducationId" class="btn">Edit</a>
                       <a asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Educations[i].EducationId" class="btn ">Delete</a>
                    </div>  *@                
            }
           </div>          
      </div>    

      <div class="card-body">   
            <h2>Work Experience</h2>

            @for (int i = 0; i < Model.WorkExperiences.Count; i++)
            {
                       <h3>@Model.WorkExperiences[i].CompanyName</h3>   
                       <h4>@Model.WorkExperiences[i].JobTitle</h4>
                       <smaill>@Model.WorkExperiences[i].StartDate - @Model.WorkExperiences[i].EndDate</smaill>
                      <div class="card-text">
                        <p class="dark-text">@Model.WorkExperiences[i].Description</p>
                      </div>
            } 
            </div>          
      </div>   

            <div class="btn-group">
               <a asp-controller="Resume" asp-action="Edit" class="btn">Edit</a>
               <a asp-controller="Resume" asp-action="Delete" class="btn ">Delete</a>
            </div>                 

</section>

